[Desktop Entry]
Encoding=UTF-8
Name=到 Bootstrap Tutorial for Beginners - 2 - Grid System - YouTube 的链接
Type=Link
URL=https://www.youtube.com/watch?v=c5xVxSFoyQw
Icon=text-html
