.displaytable table tbody tr td a {
	text-decoration: none;
}
.displaytable {
	margin-top: 80px;
	margin-left: 150px;
	margin-right: 150px;
}
#query {
	padding-top: 50px;
	padding-left: 200px;
	
}
#query #_ul_station_train_code {
	list-style-type: none;
}
#query #_ul_station_train_code li {
		float:left;
		margin-left:50px;
}
