@charset "utf-8";
#query label {
	font-size: 24px;
	color: #000;
	text-align: center;
}
#query {
	margin-top: 80px;
	margin-bottom: 20px;
	margin-left: 350px;
}
#query #placeB {
	margin-top: 30px;
}

#query .date {
	margin-top: 30px;
	font-size: 24px;
	color: #000;
}#query #click {
	margin-top: 50px;
}
#query #click #button {
	width: 250px;
	height: 45px;
	margin-left: 10px;
	font-family: "微软雅黑";
    font-size: 20px;   
    display: inline-block;
    cursor: pointer;
    zoom: 1;
    outline-width: medium;
    outline-color: invert;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    color: #fefee9;
    border-top-color: #445567;
    border-right-color: #445567;
    border-bottom-color: #445567;     
	border-left-color: #445567;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: #445565;
}
#word {
	font-family: "微软雅黑";
	color: #FFF;
	font-size: 25px;
	line-height: 0px;
}
