	
#title {
	margin-left:25px;
	margin-top:30px;
}


#info {
	margin-left: 80px;
	margin-top: 50px;
	width: 800px;
}

#info p {
	margin-left:50px;
}

#button1 {
	width: 200px;
	height: 45px;
	margin-left: 50px;
	margin-top: 50px;
	font-family: "微软雅黑";
    font-size: 20px;   
    display: inline-block;
    cursor: pointer;
    zoom: 1;
    outline-width: medium;
    outline-color: invert;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    color: #fefee9;
    border-top-color: #445567;
    border-right-color: #445567;
    border-bottom-color: #445567;     
	border-left-color: #445567;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: #445565;
}

#button2 {
	width: 200px;
	height: 45px;
	margin-left: 80px;
	margin-top: 50px;
	font-family: "微软雅黑";
    font-size: 20px;   
    display: inline-block;
    cursor: pointer;
    zoom: 1;
    outline-width: medium;
    outline-color: invert;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
    color: #fefee9;
    border-top-color: #445567;
    border-right-color: #445567;
    border-bottom-color: #445567;     
	border-left-color: #445567;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    background-origin: padding-box;
    background-clip: padding-box;
    background-color: #445565;
}


#info #stt {
	width: 600px;
}
#info #stt #click #btn1  {
	float: left;
	width:300px;
}
#info #stt #click #btn2  {
	float: right;
	width:300px;
}


.container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
content {
  background:#bbb;
  flex: 1; /* 1 代表盡可能最大，會自動填滿除了 header footer 以外的空間 */
}


