@charset "utf-8";
#total {
	margin-top: 10px;
	margin-right: 400px;
	margin-bottom: 20px;
	margin-left: 228px;
}
#toptitle {
	height: 150px;
	width: 1020px;
	background-image: url(../image/%E9%A6%96%E9%A1%B5%E6%A0%87%E9%A2%98%E6%A0%8F.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	font-family: "微软雅黑";
	font-weight: normal;
	font-variant: normal;
	font-style: normal;
	color: #FFF;
}
#total #toptitle h3 {
	padding-left: 100px;
	font-family: "微软雅黑";
	font-size: 40px;
	line-height: 70px;
}
#topbar {
	background-color: #445565;
	float: left;
	width: 1020px;
	margin-top: 5px;
	height: 45px;
}




body {
	background-image: url(../image/%E9%A6%96%E9%A1%B5%E8%83%8C%E6%99%AF3.0.jpg);
	background-repeat: no-repeat;
}
#total #toptitle #clock
{
	padding-left: 100px;
	background-image: url(../image/%E6%97%B6%E9%97%B4%E6%A0%8F2.0.png);
}
.date{
	letter-spacing: 0.05em;
	font-size: 24px;
	padding: 5px 0;
	font-family: "微软雅黑";
}
.time{
	letter-spacing: 0.05em;
	font-size: 50px;
	padding: 5px 0;
}
#total #toptitle #topbar ul {
	list-style-type: none;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	width: 1000px;
}
#bottom {
	margin-top: 50px;
	height: 50px;
	width: 1020px;
}

#total #toptitle #topbar ul li a {
	text-decoration: none;
	float: left;
	height: 45px;
	width: 200px;
	display: block;
	text-align: center;
	color: #FFF;
	font-weight: bolder;
	line-height: 40px;
}
#total #toptitle #topbar ul li a:hover {
	color: #072331;
}
#total #toptitle #topbar ul li a:active {
	background-image: url(../image/%E6%8C%89%E9%92%AE%E6%8C%89%E4%B8%8B2.0.png);
}

.iframe {
	height: 800px;
	width: 1020px;
	padding: 0px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	margin-top: 10px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
#center {
	margin-top: 100px;
	height: 800px;
	width: 1020px;
}
#total #bottom p {
	text-align: center;
	font-size: 15px;
}
