@charset "utf-8";
#list ul {
	list-style-type: none;
	padding-left: 15px;
	margin-top: 40px;
}
#list h4 {
	font-family: "微软雅黑";
}

#list ul li a {
	text-decoration: none;
	font-family: "微软雅黑";
	color: #FFF;
}
#list ul li {
	margin-top: 5px;
}

#list {
	background-repeat: no-repeat;
}

#info #t h3 {
	color: #CCC;
	line-height: 30px;
	font-size: 35px;
}
#info #t {
	padding-left: 40px;
	width: 400px;
	float: left;
}
#info #topI #r ul li div {
	text-align: center;
	height: 60px;
}
#info #topI #r ul li a {
	color: #FFF;
	text-decoration: none;
	line-height: 50px;
}
#info #topI #r ul li a:active {
	color: #26394E;
}
#info #topI #r ul li div:hover {
	background-image: url(../image/%E5%AD%90%E9%A1%B5%E9%9D%A2%E6%8C%89%E9%92%AE%E8%A7%A6%E7%A2%B0.png);
}




#info #topI #r ul li {
	list-style-type: none;
	color: #FFF;
	width: 150px;
	float: left;
}
#info #topI #r ul {
	float: right;
	margin-top: 0px;
}


#info {
	font-family: "微软雅黑";
	background-color: #26394E;
	margin: 0px;
	padding: 0px;
}
#info #c {
	float: left;
	margin-left: 50px;
	font-family: "微软雅黑";
	background-color: #CCC;
	padding-left: 20px;
	width: 90%;
}
#info #c ul {
	list-style-type: none;
}
#info #c p {
	color: #003;
}
#info #topI {
	height: 100px;
	margin: 0px;
}

#safe #s input {
	margin-top: 35px;
	width: 80px;
	height: 30px;
}


#safe #s #sA {
	height: 400px;
	width: 250px;
	float: left;
	margin-right: 25px;
	margin-left: 0px;
	text-align: center;
	background-color: #CCC;
}
#safe #s #sA #img {
	height: 200px;
	width: 200px;
	margin-left: 25px;
	background-image: url(../image/%E6%94%B9%E5%AF%86%E7%A0%81.png);
	margin-top: 0px;
}
#safe #s p a {
	text-decoration: none;
	color: #333;
	font-size: 25px;
}
#safe #s p a:hover {
	color: #4f7299;
}



#safe #s #sB {
	height: 400px;
	width: 250px;
	float: left;
	margin-right: 25px;
	margin-left: 25px;
	text-align: center;
	background-color: #CCC;
}
#safe #s #word {
	font-size: 25px;
	line-height: 50px;
	color: #26394E;
}

#safe #s #sB #img {
	height: 200px;
	width: 200px;
	margin-left: 25px;
	margin-top: 0px;
	background-image: url(../image/%E6%94%B9%E6%89%8B%E6%9C%BA.png);
}

#safe #s #sC {
	height: 400px;
	width: 250px;
	float: left;
	margin-right: 10px;
	margin-left: 25px;
	text-align: center;
	background-color: #CCC;
}
#safe #s #sC #img {
	height: 200px;
	width: 200px;
	margin-left: 25px;
	margin-top: 0px;
	background-image: url(../image/%E6%94%B9%E9%82%AE%E7%AE%B1.png);
}

#safe {
	font-family: "微软雅黑";
	background-color: #26394E;
	margin: 0px;
	padding: 0px;
}
#safe h3 {
	color: #CCC;
	line-height: 30px;
	font-size: 35px;
}
#safe #t {
	padding-left: 40px;
	width: 400px;
	float: left;
}
#safe #topS #r ul li div {
	text-align: center;
	height: 60px;
}
#safe #topS #r ul li a {
	color: #FFF;
	text-decoration: none;
	line-height: 50px;
}
#safe #topS #r ul li a:active {
	color: #26394E;
}
#safe #topS #r ul li div:hover {
	background-image: url(../image/%E5%AD%90%E9%A1%B5%E9%9D%A2%E6%8C%89%E9%92%AE%E8%A7%A6%E7%A2%B0.png);
}


#safe #topS #r ul li {
	list-style-type: none;
	color: #FFF;
	width: 150px;
	float: left;
}
#safe #topS #r ul {
	float: right;
	margin-top: 0px;
}



#safe #s {
	padding-left: 150px;
	padding-top: 0px;
	height: 350px;
	margin-top: 130px;
}
#safe #topS {
	height: 100px;
	margin: 0px;
}

#pep #t h3 {
	color: #CCC;
	line-height: 30px;
	font-size: 35px;
}
#pep #t {
	padding-left: 40px;
	width: 400px;
	float: left;
}
#pep #topP #r ul li div {
	text-align: center;
	height: 60px;
}
#pep #topP #r ul li a {
	color: #FFF;
	text-decoration: none;
	line-height: 50px;
}
#pep #topP #r ul li a:active {
	color: #26394E;
}
#pep #topP #r ul li div:hover {
	background-image: url(../image/%E5%AD%90%E9%A1%B5%E9%9D%A2%E6%8C%89%E9%92%AE%E8%A7%A6%E7%A2%B0.png);
}


#pep #topP #r ul li {
	list-style-type: none;
	color: #FFF;
	width: 150px;
	float: left;
}
#pep #topP #r ul {
	float: right;
	margin-top: 0px;
}


#pep {
	font-family: "微软雅黑";
	background-color: #26394E;
	margin: 0px;
	padding: 0px;
}
#pep #c {
	float: left;
	margin-left: 50px;
	font-family: "微软雅黑";
	background-color: #CCC;
	padding-left: 68px;
	height: 600px;
	width: 88%;
}
#pep #c ul {
	list-style-type: none;
}
#pep #c p {
	color: #003;
}
#pep #topP {
	height: 100px;
	margin: 0px;
}
