@charset "utf-8";
#list ul {
	list-style-type: none;
	padding-left: 15px;
	margin-top: 40px;
}
#list h4 {
	font-family: "微软雅黑";
}

#list ul li a {
	text-decoration: none;
	font-family: "微软雅黑";
	color: #FFF;
}
#list ul li {
	margin-top: 5px;
}

#list {
	background-repeat: no-repeat;
}

#info h3 {
	color: #003;
	font-family: "微软雅黑";
}
#info {
	margin-left: 25px;
}
#info div {
	margin-left: 20px;
	font-family: "微软雅黑";
}
#info div ul {
	list-style-type: none;
}
#info div p {
	color: #003;
}
#safe #s input {
	margin-top: 35px;
	width: 80px;
	height: 30px;
}


#safe #s #sA {
	height: 400px;
	width: 250px;
	float: left;
	margin-right: 25px;
	margin-left: 0px;
	text-align: center;
	background-color: #C9F;
}
#safe #s #sA div {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}
#safe #s p a {
	text-decoration: none;
	color: #333;
}


#safe #s #sB {
	height: 400px;
	width: 250px;
	float: left;
	margin-right: 25px;
	margin-left: 25px;
	text-align: center;
	background-color: #C9F;
}
#safe #s #sB div {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}

#safe #s #sC {
	height: 400px;
	width: 250px;
	float: left;
	margin-right: 10px;
	margin-left: 25px;
	text-align: center;
	background-color: #C9F;
}
#safe #s #sC div {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}

#safe {
	font-family: "微软雅黑";
	background-color: #26394E;
}
#safe h3 {
	color: #CCC;
	line-height: 35px;
	font-size: 35px;
}
#t {
	padding-left: 40px;
}

#safe #s {
	padding-left: 200px;
	padding-top: 0px;
	height: 350px;
	margin-top: 200px;
}
