@charset "utf-8";
#list ul {
	list-style-type: none;
	padding-left: 15px;
	margin-top: 40px;
}
#list h4 {
	font-family: "微软雅黑";
	color: #CCC;
}

#list ul li a {
	text-decoration: none;
	font-family: "微软雅黑";
	color: #FFF;
}
#list ul li {
	margin-top: 5px;
}

#list {
	background-image: url(Tu/%E5%AD%90%E9%A1%B5%E9%9D%A2%E8%83%8C%E6%99%AF2.0.png);
	background-repeat: no-repeat;
}

#info h3 {
	color: #003;
	font-family: "微软雅黑";
}
#info {
	margin-left: 25px;
}
#info div {
	margin-left: 20px;
	font-family: "微软雅黑";
}
#info div ul {
	list-style-type: none;
}
#info div p {
	color: #003;
}
#safe #s input {
	margin-top: 35px;
	width: 80px;
	height: 30px;
}


#safe #s #sA {
	height: 350px;
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	background-color: #C9F;
}
#safe #s #sA div {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}
#safe #s p a {
	text-decoration: none;
	color: #333;
}


#safe #s #sB {
	height: 350px;
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	background-color: #C9F;
}
#safe #s #sB div {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}

#safe #s #sC {
	height: 350px;
	width: 200px;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	background-color: #C9F;
}
#safe #s #sC div {
	height: 150px;
	width: 150px;
	margin-left: 25px;
}

#safe {
	font-family: "微软雅黑";
}

#safe #s {
	padding-left: 30px;
	padding-top: 10px;
}
